* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v452_3398 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v452_3399 {
  width: 100%;
  height: 100%;
  background: rgba(242,245,248,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v452_3400 {
  width: 100%;
  height: 80px;
  background: url("../images/v452_3400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v452_3403 {
  width: 732px;
  height: 153px;
  background: url("../images/v452_3403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 594px;
  overflow: hidden;
}
.v452_3404 {
  width: 140px;
  height: 120px;
  background: url("../images/v452_3404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v452_3405 {
  width: 140px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v452_3406 {
  width: 109px;
  color: rgba(53,82,115,1);
  position: absolute;
  top: 88px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v452_3408 {
  width: 140px;
  height: 120px;
  background: url("../images/v452_3408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 148px;
  overflow: hidden;
}
.v452_3409 {
  width: 140px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v452_3410 {
  width: 75px;
  color: rgba(53,82,115,1);
  position: absolute;
  top: 88px;
  left: 33px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v452_3412 {
  width: 140px;
  height: 120px;
  background: url("../images/v452_3412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 296px;
  overflow: hidden;
}
.v452_3413 {
  width: 140px;
  height: 120px;
  background: url("../images/v452_3413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v452_3414 {
  width: 140px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v452_3416 {
  width: 49px;
  color: rgba(53,82,115,1);
  position: absolute;
  top: 88px;
  left: 46px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v452_3417 {
  width: 140px;
  height: 120px;
  background: url("../images/v452_3417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 444px;
  overflow: hidden;
}
.v452_3418 {
  width: 140px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v452_3419 {
  width: 58px;
  color: rgba(53,82,115,1);
  position: absolute;
  top: 88px;
  left: 40px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v452_3421 {
  width: 140px;
  height: 120px;
  background: url("../images/v452_3421.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 592px;
  overflow: hidden;
}
.v452_3422 {
  width: 140px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v452_3424 {
  width: 92px;
  color: rgba(53,82,115,1);
  position: absolute;
  top: 88px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v452_3425 {
  width: 525px;
  color: rgba(45,46,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v452_3426 {
  width: 732px;
  height: 88px;
  background: url("../images/v452_3426.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 594px;
  overflow: hidden;
}
.v452_3427 {
  width: 732px;
  height: 88px;
  background: rgba(24,171,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v452_3428 {
  width: 193px;
  height: 40px;
  background: url("../images/v452_3428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v452_3429 {
  width: 26px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 37px;
}
.v452_3430 {
  width: 16px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 68px;
}
.v452_3431 {
  width: 28px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 86px;
}
.v452_3432 {
  width: 28px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 118px;
}
.v452_3433 {
  width: 43px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 150px;
}
.v452_3434 {
  width: 34px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 0px;
}
.v452_3435 {
  width: 12px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 22px;
}
.v452_3436 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
}
.v452_3437 {
  width: 132px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 576px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v466_2970 {
  width: 172px;
  height: 46px;
  background: url("../images/v466_2970.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 594px;
  overflow: hidden;
}
.v466_2971 {
  width: 172px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v466_2972 {
  width: 86px;
  height: 16px;
  background: rgba(24,171,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v466_2973 {
  width: 63px;
  color: rgba(53,82,115,1);
  position: absolute;
  top: 20px;
  left: 109px;
  font-family: Janna LT;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
